
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:18px;
}

/* Here is one of many  CSS rules you will need... */
#one,#two,#three,#four{
    width:25%;
    position:absolute;
    padding:1%;
}
#one {
    border: 5px solid blue;
    right:1%;
    bottom:1%;
}
#two{
    border: 5px solid green;
    right:1%;
    top:1%;
}
#three{
    border: 6px solid orange;
    left:1%;
    top:1%;
}
#four{
    border: 5px solid yellow;
    left:1%;
    bottom:1%;
}
a{
    text-decoration:none;
    color:#fff;
}
#link{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    position: absolute;
    top:1%;
   left:50%;
}
